.navbar-dark .navbar-brand{
  color:orange;
}

.jumbotron{
  background-image: url(Fire.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}

.jumbotron img{
  height:150px;
}

h1.display-3{
  color:black;
  font-weight:bold;
}

p.lead{
  color:black;
  font-weight:bold;
}

.body{
  background-color:grey;
}
